@model IEnumerable<ClassCloud.Models.Course>
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<script type="text/javascript">
    $(document).ready(function () {
        home.showCalendar();
        $('#calendar').fullCalendar({
            events: home.listOfEvents(),
            editable: true,
            eventClick: function (calEvent, jsEvent, view) {
                window.location.href = '/Lecture/Details/' + calEvent.id;
            },
             weekMode: 'variable',
             contentHeight: 600
        });
    });
</script>
<div id="calendar"></div>

