@model IEnumerable<ClassCloud.Models.Course>
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<script type="text/javascript">
    $(document).ready(function () {
        home.showCalendar();
        $('#calendar').fullCalendar({
            events: home.listOfEvents(),
            editable: true
        });
    });
</script>
<div id="calendar"></div>

