@model IEnumerable<ClassCloud.Models.Course>
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            events: home.listOfEvents()
        });

    });
</script>
<div id="calendar"></div>

